<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css">

</head>
<body>
    <script src="/socket.io/socket.io.js"></script>

    <h1>HTML5 Pacman</h1>

    <div id="pacman"></div>
    <canvas id="myCanvas" width="510" height="510">
    </canvas>
    <script type="text/javascript" src="Javascript-Pacman/Pacman.js"></script>
    <script type="text/javascript" src="Javascript-Pacman/Ghost.js"></script>
    <script type="text/javascript" src="Javascript-Pacman/Grid.js"></script>
    <script type="text/javascript" src="Javascript-Pacman/Game.js"></script>
</body>
</html>